.App{
  text-align: center;
}
nav,Navbar{
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 10vh;
   background-color: rgb(150, 204, 218);
}
.nav-links
{
   width:50%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
}